<div class="row">
  <div class="col">
    <form id="form" class="form-inline justify-content-center my-3">
      <div class="form-group mr-2">
        <label for="domain" class="sr-only">Domain</label>
        <input class="form-control" type="text" id="domain" name="domain" placeholder="example.com" />
      </div>
      <button type="submit" class="btn btn-primary">Inspect</button>
    </form>
  </div>
</div>
